<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Tournoi de Volley GEMS</title>
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css">
  <link href="/css/main.css" rel="stylesheet">
  {{{isAdminEditorCSS user}}}
</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="#page-top">Tournoi de Volley GEMS</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button"
            data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {{# each navLinks}}
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded {{#ifeq ../section key}}active{{else}}{{/ifeq}}"
               href="{{ href }}">{{ label }}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</nav>

<div id="body">
  <!-- Flash messages -->
  {{#if messages}}
    <div id="flash-messages" class="container">
      {{#if messages.info}}
        <div class="alert alert-info">
          {{{flashMessages messages.info}}}
        </div>
      {{/if}}
      {{#if messages.success}}
        <div class="alert alert-success">
          {{{flashMessages messages.success}}}
        </div>
      {{/if}}
      {{#if messages.warning}}
        <div class="alert alert-warning">
          {{{flashMessages messages.warning}}}
        </div>
      {{/if}}
      {{#if messages.error}}
        <div class="alert alert-danger">
          {{{flashMessages messages.error}}}
        </div>
      {{/if}}
    </div>
  {{/if}}

  <!-- Body -->
  {{{body}}}
</div>

<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="mb-4">Contact</h4>
        <p class="lead mb-0 text-center">
          <a href="mailto:tournoi.GEVolley@ge.com">tournoi.GEVolley@ge.com</a>
        </p>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">
        <img src="/img/logo-ce.png" alt="Logo CE"/>
      </div>
      <div class="col-md-4">
        <img src="/img/logo-as.png" alt="Logo AS"/>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
  <a class="d-block text-center text-white rounded" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

<!-- JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/js/main.js"></script>
{{{isAdminEditorJS user}}}

</body>
</html>
