<div id="calendar">
  <div class="container page">
    <h1>Calendrier</h1>
    {{#if dateBlocks}}
      {{#each dateBlocks}}
        {{#if dates}}
          <h2>{{name}}</h2>
          {{#each dates}}
            <div class="row day">
              <div class="col-lg-3">
                <h5 class="date">{{day}}</h5>
              </div>
              <div class="col-lg">
                <div class="row">
                  {{#each slots}}
                    <div class="col-lg">
                      <h5 class="time">{{time}}</h5>
                      {{#each matches}}
                        <div class="row match bg-primary {{#ifeq type 'Poule'}}pool{{team1.pool}}{{/ifeq}}">
                          <div class="col">
                            <div class="teams">
                              <div>
                                <strong class="text-white">{{#if team1}}{{team1.name}}{{else}}-{{/if}}</strong>
                              </div>
                              <div>
                                <strong class="text-white">{{#if team2}}{{team1.name}}{{else}}-{{/if}}</strong>
                              </div>
                            </div>
                          </div>
                          {{#if winner}}
                            <div class="col-1">
                              <div class="teams">
                                <div><strong class="score">{{setsWonTeam1}}</strong></div>
                                <div><strong class="score">{{setsWonTeam2}}</strong></div>
                              </div>
                            </div>
                          {{/if}}
                          <div class="col">
                            <div class="info">
                              <p>Terrain {{court}}</p>
                              <p>{{referee.name}}</p>
                            </div>
                          </div>
                        </div>
                      {{/each}}
                    </div>
                  {{/each}}
                </div>
              </div>
            </div>
          {{/each}}
        {{/if}}
      {{/each}}
    {{else}}
      <h3 class="text-muted">Il n'y a pas encore de match.</h3>
    {{/if}}
  </div>
</div>
