<!--suppress NsUnresolvedStyleClassReference -->
<div id="calendar">
  <div class="container">
    <div class="row">
      <h1>Calendrier</h1>
    </div>
    {{#if dates}}
      {{#each dates}}
        <div class="row day">
          <div class="col-sm-3">
            <h5 class="date">{{day}}</h5>
          </div>
          <div class="col-sm">
            <div class="row">
              {{#each slots}}
                <div class="col-sm">
                  <h5 class="time">{{time}}</h5>
                  {{#each matches}}
                    <div class="row match bg-primary pool{{team1.pool}}">
                      <div class="col">
                        <div class="teams">
                          <div>
                            <strong class="text-white">{{team1.name}}</strong>
                          </div>
                          <div>
                            <strong class="text-white">{{team2.name}}</strong>
                          </div>
                        </div>
                      </div>
                      {{#if winner}}
                        <div class="col-1">
                          <div class="teams">
                            <div><strong class="score">{{setsWonTeam1}}</strong></div>
                            <div><strong class="score">{{setsWonTeam2}}</strong></div>
                          </div>
                        </div>
                      {{/if}}
                      <div class="col">
                        <div class="info">
                          <p>Terrain {{court}}</p>
                          <p>{{referee.name}}</p>
                        </div>
                      </div>
                    </div>
                  {{/each}}
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <h3 class="text-muted">There is no match yet.</h3>
    {{/if}}
  </div>
</div>
