<div id="calendar">
  <div class="container page">
    <h1>Calendrier</h1>

    {{#if treeBlocks}}
      {{#each treeBlocks}}
        {{#if stages.0.matches}}
          <h2>{{name}}</h2>
          <div class="row tree">
            {{#each stages}}
              <div class="col-4 {{type}}">
                {{#each matches}}
                  <div id="c-{{../type}}-{{@index}}" class="row match bg-primary">
                    <div class="info">{{hrDate}} {{time}}, Terrain {{court}}{{#if referee}}, {{referee.name}}{{/if}}</div>
                    <div class="col-9">
                      <div class="teams">
                        <div>
                          <strong class="text-white">{{#if team1}}{{team1.name}}{{else}}-{{/if}}</strong>
                        </div>
                        <div>
                          <strong class="text-white">{{#if team2}}{{team2.name}}{{else}}-{{/if}}</strong>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="teams">
                        <div><strong class="score">{{#if winner}}{{setsWonTeam1}}{{else}}-{{/if}}</strong></div>
                        <div><strong class="score">{{#if winner}}{{setsWonTeam2}}{{else}}-{{/if}}</strong></div>
                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
            {{/each}}
          </div>
          <script type="text/javascript">
            window.onload = function () {
              const options = { radius: 3, color: 'black', anchorA: 'horizonal', anchorB: 'horizonal' };

              jqSimpleConnect.connect('#c-quarter-0', '#c-semi-0', options);
              jqSimpleConnect.connect('#c-quarter-1', '#c-semi-0', options);
              jqSimpleConnect.connect('#c-quarter-2', '#c-semi-1', options);
              jqSimpleConnect.connect('#c-quarter-3', '#c-semi-1', options);
              jqSimpleConnect.connect('#c-semi-0', '#c-final-0', options);
              jqSimpleConnect.connect('#c-semi-1', '#c-final-0', options);

              $(window).resize(jqSimpleConnect.repaintAll);
            };
          </script>
        {{/if}}
      {{/each}}
    {{/if}}

    {{#if dateBlocks}}
      {{#each dateBlocks}}
        {{#if dates}}
          <h2>{{name}}</h2>
          {{#each dates}}
            <div class="row day">
              <div class="col-lg-3">
                <h5 class="date">{{day}}</h5>
              </div>
              <div class="col-lg">
                <div class="row">
                  {{#each slots}}
                    <div class="col-lg">
                      <h5 class="time">{{time}}</h5>
                      {{#each matches}}
                        <div class="row match bg-primary {{#ifeq type 'Poule'}}pool{{team1.pool}}{{/ifeq}}">
                          <div class="col">
                            <div class="teams">
                              <div>
                                <strong class="text-white">{{#if team1}}{{team1.name}}{{else}}-{{/if}}</strong>
                              </div>
                              <div>
                                <strong class="text-white">{{#if team2}}{{team2.name}}{{else}}-{{/if}}</strong>
                              </div>
                            </div>
                          </div>
                          {{#if winner}}
                            <div class="col-2">
                              <div class="teams">
                                <div><strong class="score">{{setsWonTeam1}}</strong></div>
                                <div><strong class="score">{{setsWonTeam2}}</strong></div>
                              </div>
                            </div>
                          {{/if}}
                          <div class="col">
                            <div class="info">
                              <p>Terrain {{court}}</p>
                              <p>{{referee.name}}</p>
                            </div>
                          </div>
                        </div>
                      {{/each}}
                    </div>
                  {{/each}}
                </div>
              </div>
            </div>
          {{/each}}
        {{/if}}
      {{/each}}
    {{else}}
      <h3 class="text-muted">Il n'y a pas encore de match.</h3>
    {{/if}}

  </div>
</div>
