<div id="ranking">
  <div class="container page">
    <h1>Classement</h1>
    {{#if pools}}
      {{#each pools}}
        <h2 class="pool{{name}}">Poule {{name}}</h2>
        <div class="table-container">
          <table class="table">
            <thead>
            <tr class="d-none d-lg-table-row">
              <th scope="col">#</th>
              <th scope="col" class="team">Équipe</th>
              <th scope="col" class="text-center">Matchs Joués</th>
              <th scope="col" class="text-center">Victoires</th>
              <th scope="col" class="text-center">Défaites</th>
              <th scope="col" class="text-center">Points</th>
            </tr>
            <tr class="d-lg-none">
              <th scope="col">#</th>
              <th scope="col" class="team">Équipe</th>
              <th scope="col" class="text-center">MJ</th>
              <th scope="col" class="text-center">V</th>
              <th scope="col" class="text-center">D</th>
              <th scope="col" class="text-center">Pts</th>
            </tr>
            </thead>
            <tbody>
            {{#each teams}}
              <tr>
                <th>{{rank}}</th>
                <th>{{team}}</th>
                <th class="text-center">{{matchesPlayed}}</th>
                <th class="text-center">{{matchesWon}}</th>
                <th class="text-center">{{matchesLost}}</th>
                <th class="text-center">{{points}}</th>
              </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
      {{/each}}
    {{else}}
      <h3 class="text-muted">Les poules ne sont pas encore définies.</h3>
    {{/if}}
  </div>
</div>
